body {
    background-color: goldenrod;
}

#scratchoff {
    border: 3px solid black;
    flex-direction: row;
    border-radius: 0.7vh;
}

.col {
    display: flex;
    flex-direction: column;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1.5vh;
    border: 0.5vw solid black;
    height: 9vh;
    width: 10vw;
    margin: 1vh;
}