#scratchoff {
    margin-top: 1vh;
    justify-self: center;
    border: 0.5vh solid white;
    background-color: olive;
    height: 75vh;
    width: 30vw;
    flex-direction: row;

}

#topnums {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4vh;
}

.col {
    display: flex;
    flex-direction: column;
    width: 3vw;
    margin-left: 1.47vw;
}

#gameborder {
    display:flex;
    position: absolute;
    flex-direction: column;
    justify-self: center;
    border: 0.5vh solid white;
    background-color: white;
    height: 44vh;
    width:24vw;
}

#scratch-border {
    display:flex;
    flex-direction: column;
    justify-self: center;
    border: 0.5vh solid white;
    height: 47.3vh;
    width:25vw;
}

#tempart {
    height: 21.5vh
}

#grid-container {
    display:flex;
    flex-direction: row;
    width: 25vw;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255,255,255);
    margin-top: 1.5vh;
    height: 7vh;
    width: 3vw;
}

.grid-unscratched {
    background-color: gray;
    opacity: 100%;
    margin-top: 1.5vh;
    height: 7vh;
    width: 3vw;
}

.grid-label {
    margin: 0vh;
}

.grid-label-small {
    margin: 0vh;
}